{% extends 'main.html' %}

{% block head %}
    <title>DINKOFF FORUM</title>
{% endblock %}

{% block body %}
<br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Привет привет,</h1>
            <p>Това е форум предназначен за дискусии свързани с автомобили, оснавната част от участниците са 17, 18 годишни пиклювци искащи 300 коня за 1ва кола.</p>
            <p>Ако искате да разгледате темите, които дискутираме натиснете
                <a class="btn btn-primary" href="/discussions" role="button"> тук &raquo;</a>
            </p>
        </div>
    </div>
</main>
{% endblock %}