{% extends 'main.html' %}

{% block head %}
<title>Posts</title> 
{% endblock %}

{% block body %}
<br>
<div>
    <h1 style="display:inline">All Posts</h1>
    <a style="display:inline" class="btn btn-success float-right" href="/discussions/{{ id }}/new" >+ New Post</a>
</div>
    <hr>

    {% for post in posts %}
        <h2>{{ post.title }}</h2>
        <small> Written by {{ post.writer }} on {{ post.date_posted }}</small>
        <br>
        <br>
        <p style="white-space:pre-wrap">{{ post.content }}</p>
        <br>
        {% if current_user.id == post.user_id %}
            <a class="btn btn-danger" href='/discussions/{{ id }}/delete/{{post.id}}'>Delete</a>
            <a class="btn btn-primary" href='/discussions/{{ id }}/edit/{{post.id}}'>Edit</a>
        {% endif %}
        <br>
        <hr>
        <br>
    {% endfor%}

{% endblock %}